@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100%;
}

html,
body {
  @apply m-0 p-0 font-sans antialiased bg-base-100 text-base-content;
  overflow-x: hidden;
}

#root {
  @apply min-h-screen bg-base-100 text-base-content;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-base-200;
}

::-webkit-scrollbar-thumb {
  @apply bg-base-content/50 rounded-full;
}

.str-chat,
.str-chat__channel {
  @apply h-full bg-base-100 text-base-content;
}

.str-chat__container {
  @apply bg-base-100 border border-base-300/60 max-w-6xl w-full h-full mx-auto overflow-hidden rounded-none lg:rounded-lg shadow-xl;
}

.str-chat__main-panel,
.str-chat__window,
.str-chat__list,
.str-chat__message-list-scroll,
.str-chat__thread,
.str-chat__thread-list {
  @apply bg-base-100;
}

.str-chat__list {
  @apply p-3;
}

.str-chat__channel-header,
.str-chat__thread-header,
.str-chat__message-input {
  @apply bg-base-100 border-base-300/60;
}

.str-chat__list-notifications {
  display: none;
}

.str-chat__message-input {
  @apply border-t;
}
